{% extends 'base.html' %}
{% load static %}
{% load survey_extras %}

{% block body %}
<div class="uk-offcanvas-content">
    {% include 'navigation.html' %}

    <div class="uk-container uk-container-center">
        <div class="uk-width-1-1 uk-margin-top">
            <div class="uk-width-1-1 uk-margin-large-bottom">
                <h3 class="uk-text-muted"><span uk-icon="icon: file-edit; ratio: 1.5"></span> Surveys</h3>
                <ul class="uk-breadcrumb">
                    <li><span href="#">Surveys</span></li>
                </ul>
            </div>
            <div>
                {% if surveys %}
                    <table class="uk-table uk-table-responsive uk-table-divider uk-table-middle">
                        <thead>
                            <tr>
                                <th class="uk-table-shrink">Published</th>
                                <th class="uk-table-expand">Details</th>
                                <th class="uk-table-shrink">Responses</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for survey in surveys %}
                                <tr>
                                    <td>
                                        {% if survey.is_published %}
                                            <svg height="14" width="14">
                                                <circle cx="7" cy="7" r="6" fill="green" />
                                            </svg>
                                        {% else %}
                                            <svg height="14" width="14">
                                                <circle cx="7" cy="7" r="6" fill="red" />
                                            </svg>
                                        {% endif %}
                                    </td>
                                    <td class="uk-table-link uk-text-truncate">
                                        <a href="/admin/combined-responses/{{survey.id}}/" class="uk-link-reset">
                                            <dl class="uk-description-list">
                                                <dt class="uk-text-success">
                                                    {{ survey.name }}
                                                </dt>
                                                <dd>
                                                    {{ survey.description|default_if_none:'' }}
                                                </dd>
                                            </dl>
                                        </a>
                                    </td>
                                    <td>
                                        {{ survey.responses.all.count }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}
